.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: flex-start;

}
.photo, .text {
    width: 50%;
    flex: 1;
}

.photo img {
    width: 100%;
}